<div class="container">
  <div class="row">
    <div class="col-md-6 working-area">
      <div class="content_wrapper">
        <img src="assets/images/bottle.png">
        <canvas id="bottle_canvas"></canvas>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Actions</h3>
        </div>
        <div class="panel-body object_actions">
          <div class="btn-toolbar" role="toolbar">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default" ng-click="$ctrl.addText()">Add text</button>
            </div>
            <div class="btn-group" role="group">
              <button class="btn btn-default"
                      ng-disabled="!$ctrl.hasObjectOrGroupSelected()"
                      ng-click="$ctrl.centerSelected()">
                Center
              </button>
              <button class="btn btn-default"
                      ng-disabled="!$ctrl.hasObjectOrGroupSelected()"
                      ng-click="$ctrl.deleteSelectedObject()">
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>

      <text-panel canvas="$ctrl.canvas" on-text-update="$ctrl.updateTextContent(text)"></text-panel>

    </div>
    <div class="col-md-3">
      <images-panel on-image-click="$ctrl.addImage(image)"></images-panel>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Colors</h3>
        </div>
        <div class="panel-body color_pallet">
          <ngjs-color-picker selected="labelBackground"></ngjs-color-picker>
        </div>
      </div>
      <design-actions-panel canvas="$ctrl.canvas"></design-actions-panel>
    </div>
  </div>
</div>
